/* 
Table of Contents::after

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Colors
5.  Grid
6.  Flex
7.  Layout
8.  Positioning
9.  Padding
10. Margin
11. @Media

*/

/* 
1.  Custom Variables
*/

:root {
  /* Colors */
  --dark-blue: #1d2540;
  --dark-green: #01403a;
  --white-f2: #f2f2f2;
  --black: #0d0d0d;
  --fancy-green: #1aff00;
  --red: #f3a8a8;
  --light-blue: #2d3e77;
  --hover-bg: #B1DBAD;
  --rating-12-16: #F79E1B;
  --rating18: #EB001B;


  /* Typography */
  --montserrat: "Montserrat", sans-serif;
  --teko: "Teko", sans-serif;
  --w4: 400;
  --w5: 500;
  --w6: 600;
  --s16: 1rem;
  --s21: 1.3125rem;
  --s28: 1.75rem;
  --lstd: 1.5;

  /* Border Radius */
  --r8: 0.5rem;
}


/* 
2.  Global Styles
*/

*, 
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--dark-green);
  color: var(--white-f2);
  padding: 0;
  max-width: 1500px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--montserrat);
  font-weight: var(--w5);
  font-size: var(--s16);
  line-height: var(--lstd);
}

/* Loader */

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/* 
3.  Typography
*/

.games-list-container h1 {
  text-align: center;
}

.cta-sale,
.title-section h1,
nav,
.title-info-container h2,
.title-info-container h3,
.cta-explore {
  text-transform: uppercase;
}

.title-reviews-container h3 {
  text-transform: capitalize;
}

.review-body figcaption,
.title-reviews-container h3,
.age-box,
.title-parent-container h2,
.title-category-container h2,
.title-description-container h2,
.title-price-before,
.title-price,
.title-section h1,
.price,
.price-before,
.title-info-container h2,
.title-info-container h3,
.age-rating-container span {
  font-family: var(--teko);
}

.review-body figcaption,
.cta-sale,
.title-wrap i,
.reviews-container h2,
.headings h2,
.sale-container a {
  font-size: var(--s21);
}

.title-reviews-container h3,
.age-box,
.title-parent-container h2,
.title-category-container h2,
.title-description-container h2,
.title-price,
.title-section h1,
.games-list-container h1,
.price,
.title-info-container h2,
.title-info-container h3,
.age-rating-container span,
.hero-image-container h1 {
  font-size: var(--s28);
}

.review-body figcaption,
.title-reviews-container h3,
.title-parent-container h2,
.title-category-container h2,
.title-description-container h2,
.title-section h1,
.filter-options-list p,
.title-info-container h2,
.title-info-container h3 {
  font-weight: var(--w4);
}

.age-rating-container span {
  font-weight: var(--w5);
}

.games-list-container h1,
.reviews-container h2,
.headings h2,
.hero-image-container h1 {
  font-weight: var(--w6);
}

.title-parent-container h2, 
.title-category-container h2,
.title-description-container h2,
.title-price,
.title-section h1,
.price,
.title-info-container h2,
.title-info-container h3,
.title-info-container p {
  line-height: 0.7;
}

#info-container p {
  line-height: inherit;
}

.title-price-before,
.price-before {
  text-decoration: line-through;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}


/* 
4.  Colors
*/

#cta-game-card {
  color: var(--white-f2);
  border-color: var(--white-f2);
}

.cta-sale,
.fa-heart {
  color: var(--white-f2);
}

nav a:hover {
  color: var(--hover-bg);
  transition: 300ms;
}

.review-body i,
.title-price,
.cta-sale i,
.stars-container i,
.active,
.price,
.title-info-container i,
.cta-explore {
  color: var(--fancy-green);
}

.filter-options-container,
.age-rating-3,
.heading-wrap {
  color: var(--dark-blue);
}

.error {
  color: red;
}

.search-container {
  color: #8E8E8E;
}

div .cta-explore {
  border-color: var(--light-blue);
}

.cta-sale {
  border-color: var(--white-f2);
}

.review-body,
blockquote p,
.game-card,
nav {
  background-color: var(--light-blue);
}

.cta-sale,
.cta-explore,
main {
  background-color: var(--dark-blue);
}

.filter-options-list,
.filter-options-container,
.search-wrap input,
.search-container,
.age-rating-3,
.error,
.heading-wrap {
  background-color: var(--white-f2);
}

aside,
.overlay {
  background-color: var(--black);
}

.overlay {
  opacity: 50%;
}

.filter-options-list p:hover,
.heading-wrap:hover {
  background-color: var(--hover-bg);
  transition: 500ms;
}

.age-rating-12,
.age-rating-16 {
  background-color: var(--rating-12-16);
}

.age-rating-18 {
  background-color: var(--rating18);
}

.fa-duotone {
  --fa-primary-color: var(--dark-green); 
  --fa-secondary-color: var(--fancy-green)
}



/* 
5.  Grid
*/




/* 
6.  Flex
*/

main,
.flex {
  display: flex;
}

main,
.flex-col {
  flex-direction: column;
}

.title-reviews-container section,
.age-box,
.product-image-container,
.title-container,
.games-list-container,
.search-container-wrap,
.advert section,
.headings,
.heading-container,
.hero-image-container,
.new-releases-container,
.trending-now-container,
.logo-container {
  justify-content: center;
}

.title-reviews-container :nth-child(2),
.filter-wrap {
  justify-content: flex-end;
}

.age-box,
#info-container,
.purchase-container,
.stars-wrap,
.title-wrap,
.filter-options-container,
.search-container,
footer,
.advert section,
.reviews-container,
.sale-container,
.star-container,
.heading-wrap {
  align-items: center;
}

.title-price-container,
.price-container,
.title-info-container,
.hero-image-container {
  align-items: flex-end;
}

.games-list-container,
.ftr-socials,
.ftr-links,
.new-releases-container,
.trending-now-container {
  flex-wrap: wrap;
}

.bread-crumb-wrap p,
.purchase-container,
.stars-wrap,
.filter-options-list,
footer,
.sale-container,
.star-container {
  gap: 5px;
}

.filter-options-container,
.search-container {
  gap: 10px;
}

.title-reviews-container,
.title-details-container,
.title-wrap,
.ftr-links,
.ftr-socials,
nav,
nav ul {
  gap: 20px;
}

.games-list-container,
.advert section,
.reviews-container,
.trending-now-container,
.new-releases-container {
  gap: 40px;
}

.hero-image-container {
  gap: 50vh;
}

.filter-options-container p,
.search-wrap,
.advert div,
.advert section,
.title-info-container section,
main,
.headings {
  flex: 1;
}

.games-list-container h1 {
  flex: 100%;
}

/* 
7.  Layout
*/

.search-btn-wrap,
.heading-right,
.hidden {
  display: none;
}

nav {
  height: 100vh;
  width: clamp(140px, 40%, 420px);
}

.review-body {
  width: clamp(250px, 70%, 630px);
}

.overlay {
  width: 100%;
  height: 100%;
}

.logo {
  height: 80px;
}

.game-card {
  width: 250px;
}

.search-container {
  height: 50px;
  width: clamp(200px, 70%, 800px);
}

.error,
.cta-explore {
  border: 2px solid;
}

.search-wrap input {
  border: 0;
  width: 100%;
}

.review-wrap,
.title-reviews-container section,
.title-info-container {
  width: 100%;
}

.filter-options-container {
  height: 32px;
}

.filter-options-container,
.filter-options-list {
  width: 180px;
}

.product-image-container img {
  height: 300px;
}

.cta-sale,
.filter-options-container,
.search-container,
.sale-container .cta-explore {
  border-radius: 5px;
}

.filter-options-list {
  border-radius: 0 0 5px 5px;
}

.review-body,
blockquote p,
.game-card,
.error,
.cta-explore {
  border-radius: var(--r8);
}


.game-card-img-wrap img {
  border-radius: 8px 8px 0 0;
}

.heading-wrap {
  border-radius: 50px;
  width: clamp(320px, 50%, 700px);
}

.title-section {
  border-bottom: 1px solid;
  width: 100%;
}

.title-section {
  border-color: var(--light-blue);
}

.cta-sale {
  border: 2px solid;
}

.cta-sale,
.fa-heart,
.stars-container,
.filter-options-list p,
.filter-options-container,
.heading-wrap,
.hamburger-wrap-2 {
  cursor: pointer;
}

.hero-image-container {
  background-image: url("./../images/hero-image-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position-x: 70%;
}

/* 
8.  Positioning
*/
.filter-options-container,
.game-card-img-wrap,
.logo-container,
body,
header {
  position: relative;
}

.filter-options-list,
.hamburger-wrap,
.overlay,
nav {
  position: absolute;
}

.overlay,
nav {
  top: 0;
}

.hamburger-wrap,
.overlay {
  left: 0;
}

.hamburger-wrap {
  z-index: 8;
}

.overlay {
  z-index: 9;
}

nav {
  z-index: 10;
}

.filter-options-list {
  z-index: 5;
  top: 28px;
  left: 0;
}


/* 
9. Padding
*/

.game-card-img-wrap {
  padding: 5px;
}

.review-body,
.search-container,
footer,
.hamburger-wrap {
  padding: 10px;
}

.game-card-lower-half-container {
  padding: 0 10px 10px 10px;
}

.error,
nav {
  padding: 20px;
}

nav a {
  padding: 10px 15px;
}

.hero-image-container {
  padding-right: 20px;
}

.cta-sale,
.cta-explore {
  padding: 10px 20px;
}

.sale-container .cta-explore {
  padding: 5px 10px ;
}

.sale-container,
.heading-container {
  padding: 20px 0;
}

.filter-options-container,
.headings-icon {
  padding: 0 10px;
}

.age-rating-container span {
  padding: 0 6px;
}

.title-info-container {
  padding: 5px 0;
}

blockquote p {
  padding: 1rem;
}

.reviews-container {
  padding: 100px 10vw 60px 10vw;
}

.new-releases-container,
.trending-now-container,
.games-list-container {
  padding: 0 5vw;
}

.filter-wrap {
  padding-right: 10vw;
}

.filter-options-list {
  padding: 10px 5px;
}

.filter-options-list p {
  padding: 5px 0;
}

.product-image-container {
  padding: 40px 0;
}

.bread-crumb-wrap {
  padding: 10px 0 40px 20px
}

.title-section {
  padding: 0 20px 20px 20px;
}

.purchase-container {
  padding: 26px 0;
}

.title-reviews-container section {
  padding: 10px 0;
}

.title-details-container {
  padding: 40px 20px;
}

.review-wrap {
  padding: 20px 10px;
}


/* 
10. Margin
*/

.error {
  margin: 20px;
}

blockquote,
figure {
  margin: 0;
}

aside {
  margin: 0 0 60px 0;
}

.search-container-wrap {
  margin: 60px 0 30px 0;
}

.cta-sale {
  margin-top: 10px;
}

/* 
11. @Media
*/

@media (min-width: 800px) {

  /* 
  3.  Typography
  */

  .search-btn-wrap button {
    text-transform: uppercase;
    font-size: var(--s21);
    font-weight: var(--w5);
    font-family: var(--montserrat);
  }


  /* 
  4.  Colors
  */

  .active {
    background-color: var(--dark-blue);
    color: var(--white-f2);
  }

  .cart {
    color: var(--fancy-green);
  }


  /* 
  5.  Grid
  */

  .title-container {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: repeat(5, max-content);
  }

  .bread-crumb-wrap {
    grid-column: 1 / -1;
  }

  .title-section {
    grid-column: 1 / -1;
  }

  .product-image-container {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .purchase-container {
    grid-row: 3 / 5;
  }



  
  /* 
  6.  Flex
  */

  .purchase-container {
    justify-content: center;
  }

  .logo-container {
    justify-content: flex-start;
    flex: 1;
  }

  .heading-top {
    display: flex;
  }

  #info-container,
  .purchase-container {
    align-items: flex-start;
  }


  /* 
  7.  Layout
  */

  .search-btn-wrap,
  .heading-right {
    display: block;
  }

  .hamburger-wrap {
    display: none;
  }

  .logo {
    height: 150px;
  }

  .search-btn-wrap button {
    border: 0;
    cursor: pointer;
  }

  .product-image-container img{
    height: 350px;
  }

  .purchase-container,
  .title-reviews-container section {
    border-radius: 8px 0 0 8px
  }




  /* 
  8.  Positioning
  */

  .cart-wrap a {
    position: relative;
    z-index: 1;
  }

  .cart {
    position: absolute;
    top: -13px;
    left: 30px;
    z-index: 5;
  }

  /*
  9.  Padding
  */

  .heading-right {
    padding: 20px 20px 0 0;
  }

  .purchase-container {
    padding-left: 40px;
  }

  .title-reviews-container {
    padding-top: 40px;
  }



  /* 
  10. Margin
  */

  aside {
    margin: 0 10vw 60px 10vw;
  }

  .title-section {
    margin-bottom: 40px;
  }
}





@media (min-width: 1120px) {

  .mid-section-home {
    display: flex;
    margin: 80px 11vw;
    gap: 60px;
  }
  
  .reviews-container,
  .advert {
    flex: 1;
    padding: 0;
    margin: 0;
  }
}